@model SussexCompanions.Models.ViewModels.Payment.DemandLetterViewModel
<html lang="en">
@{
    ViewBag.Title = "DemandLetter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Latest compiled and minified CSS -->
    <!-- CSS only -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <style>
        p {
            font-size: 18px;
        }

        h2 {
            font-size: 24px;
        }
    </style>
    <div class="">
        <div class="row">
            <div class="col">
                <h2>Payment Overdue Demand Letter</h2>
            </div>
            <div class="col-2">
                <button id="print-btn" class="btn btn-primary btn-block" onclick="window.print();">Print</button>
            </div>
        </div>
        <hr />
        <h5>Dear @(Model.User.UserFirstName),</h5>
        <p>
            We have seen some of your bills are their to be payed. We know you are have busy during
            these days. So please, this is a our kind for requesting to pay following overdue payments
            by login to the Sussex Companions website. Or you can settle the payment at any of our branches
        </p>

        <br />
        <h3>Overdue Summary</h3>
        <hr />
        @foreach (var item in Model.BillingHistories)
        {
            <div class="row">
                <div class="col-6 my-auto">
                    <p>@(item.BillingHistoryAmount == 5 || item.BillingHistoryAmount == 12 ? "Monthly Subscription" : "Event Fees")</p>
                </div>
                <div class="col-3 my-auto">
                    <p>@item.BillingHistoryDate.AddMonths(1)</p>
                </div>
                <div class="col-3 my-auto">
                    <p class="text-right"><b>£ @item.BillingHistoryAmount.ToString(".00")</b></p>
                </div>

            </div>
        }

        <hr />
        @{
            double total = 0;
            if (Model.BillingHistories != null && Model.BillingHistories.Count > 0)
            {
                foreach(var item in Model.BillingHistories)
                {
                    total += item.BillingHistoryAmount;
                }
            }
         }
        <div class="row">
            <div class="col-10 my-auto">
                <p class="text-right" style="font-size:24px;">Total (@(Model.BillingHistories != null ? Model.BillingHistories.Count.ToString() : "0"))</p>
            </div>
            <div class="col-2 my-auto">
                <p class="text-right" style="font-size:24px;"><b>£ @total.ToString(".00")</b></p>
            </div>
        </div>
    </div>




</body>
</html>