@model SussexCompanions.Models.ViewModels.Payment.UserPaymentsViewModel
@{
    ViewBag.Title = "User Payments";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>User Payments | <i style="font-size:12px;">To Be Recieved</i></h2>
<br />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>


<table id="payments_table" class="table display">
    <thead>
        <tr>
            <th>Id</th>
            <th>User</th>
            <th>Timestamp</th>
            <th>Next Payment Deadline</th>
            <th>Amount</th>
            <th>Deadline Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BillingHistories)
        {
            DateTime origin = new DateTime(1970, 1, 1, 0, 0, 0, 0, DateTimeKind.Utc);
            TimeSpan diff = item.BillingHistoryDate.ToUniversalTime() - origin;
            var timestamp = Math.Floor(diff.TotalSeconds);
            <tr>
                <td width="5%">@item.BillingHistoryId</td>
                <td>@item.User.UserFirstName @item.User.UserLastName</td>
                <td>@timestamp</td>
                <td>@item.BillingHistoryDate.AddMonths(1)</td>
                <td>£ @item.BillingHistoryAmount.ToString("#,##0.00")</td>
                <td>
                    @if (item.BillingHistoryIsOverdue || item.BillingHistoryDate.AddMonths(1) < DateTime.Now)
                    {
                        <a href="/Payment/DemandLetter/@item.User.UserId" class="btn btn-warning">Create Demand Letter</a>
                    }
                    else
                    {
                        <p><span class="badge bg-success">Before Deadline</span></p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />

<script>
    $(document).ready(function () {
        $('#payments_table').DataTable({
            "order": [[2, "asc"]],
            "columnDefs": [
                {
                    "targets": [2],
                    "visible": false,
                    "searchable": true
                }
            ]
        });
    });

</script>

